body {

  /* display: flex;
  justify-content: center; */

  background: #0f0c29;  /* fallback for old browsers */


}

/* social links */

.fa-facebook
{
  color:cornflowerblue;
}

.fa-instagram
{
  color:salmon;
}

.fa-twitter
{
  color: skyblue;
}

.fa-youtube
{
color: red;
}

.fa-whatsapp
{
  color:springgreen;
}

.fa-github
{
  color:darkmagenta;
}



ul {
  position:absolute;
  top:110%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  padding:0;
  display:flex;
}
ul li {
  list-style:none;
}
ul li a {
  display:block;
  position:relative;
  width:50px;
  height:50px;
  line-height:50px;
  font-size:30px;
  text-align:center;
  text-decoration:none;
  color:aliceblue;
  margin: 0 20px;
  transition:.5s;
}
ul li a span {
  position:absolute;
  transition: transform .5s;
}
ul li a span:nth-child(1),
ul li a span:nth-child(3){
  width:100%;
  height:3px;
  background:aliceblue;
}
ul li a span:nth-child(1) {
  top:0;
  left:0;
  transform-origin: right;
}
ul li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition:transform .5s;
}

ul li a span:nth-child(3) {
  bottom:0;
  left:0;
  transform-origin: left;
}
ul li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition:transform .5s;
}

ul li a span:nth-child(2),
ul li a span:nth-child(4){
  width:3px;
  height:100%;
  background:azure;
}
ul li a span:nth-child(2) {
  top:0;
  left:0;
  transform:scale(0);
  transform-origin: bottom;
}
ul li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition:transform .5s;
}
ul li a span:nth-child(4) {
  top:0;
  right:0;
  transform:scale(0);
  transform-origin: top;
}
ul li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition:transform .5s;
}

.facebook:hover {
  color: #3b5998;
}
.facebook:hover span { 
  background: #3b5998;
}
.twitter:hover {
  color:skyblue;
}
.twitter:hover span { 
  background:skyblue;
}
.instagram:hover {
  color: salmon;
}
.instagram:hover span { 
  background: salmon;
}
.github:hover {
  color: darkmagenta;
}
.github:hover span { 
  background: darkmagenta;
}
ul li a .twitter {
  color: #1da1f2;
}
ul li a:hover:nth-child(3) {
  color: #c32aa3;
}
ul li a:hover:nth-child(4) {
  color: #dd4b39;
}


#start{
  visibility:visible;
}

.facebook,.twitter,.instagram,.github{
  width: 60px;
}
@supports(object-fit: cover){
  #b1,.a{
    height: 50px;
    object-fit: cover;
    object-position: center center;
  }
}

@supports(object-fit: cover){
  img{
    height: 1.3rem;
    object-fit: cover;
    object-position: center center;
  }
}

/* end img */


/* table */



table {
  width: 30%;
  margin: 0 auto;
  margin-top: 3em;
  border-collapse: collapse; 
  color: whitesmoke;
}

th { 
  padding: 30px;
  border: 5px solid rgb(20, 187, 179);
  border-spacing: 0;
}

th:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}
th:nth-of-type(2) {
  border-top-color: transparent;
}
th:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}
tr:nth-of-type(3) th {
  border-bottom-color: transparent;
}


/*end  table */

h1{
  color: aliceblue;
}

.alert-warning{
  width: 250px;
  height: 50px;
}

#mensaje2, .alert-warning{
  width: 280px;
  height: 50px;
}

/* button  #start*/
#start{
	color: #33FFB3;
	display: inline-block;
	font-size: 1rem;
	letter-spacing: 4px;
	margin: 10px 20px;
	padding: 2px 5px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	/* text-transform: uppercase; */
	transition: 0.5s;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  
}

#start:nth-child(1){
	filter: hue-rotate(290deg);
}



#start:hover{
	background: #33FFB3;
	box-shadow: 0 0 5px #33FFB3, 0 0 25px#33FFB3, 0 0 50px #33FFB3, 0 0 200px #33FFB3;
	color: aliceblue;
}

#start span{
	display: block;
	position: absolute;
}

#start span:nth-child(1){
	animation: animate1 1s linear infinite;
	background: linear-gradient(90deg, transparent, #33FFB3);
	height: 2px;
	left: -100%;
	top: 0;
	width: 100%;
}

@keyframes animate1{
	0%{
		left: -100%;
	}
	50%, 100%{
		left: 100%;	
	}
}

#start span:nth-child(2){
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s;
	background: linear-gradient(180deg, transparent, #33FFB3);
	height: 100%;
	top: -100%;
	right: 0;
	width: 2px;
}

@keyframes animate2{
	0%{
		top: -100%;
	}
	50%, 100%{
		top: 100%;	
	}
}

#start span:nth-child(3){
	animation: animate3 1s linear infinite;
	animation-delay: 0.5s;
	background: linear-gradient(270deg, transparent, #33FFB3);
	bottom: 0;
	height: 2px;
	right: -100%;
	width: 100%;
}

@keyframes animate3{
	0%{
		right: -100%;
	}
	50%, 100%{
		right: 100%;	
	}
}

#start span:nth-child(4){
	animation: animate4 1s linear infinite;
	animation-delay: 0.75s;
	background: linear-gradient(360deg, transparent, #33FFB3);
	bottom: -100%;
	height: 100%;
	left: 0;
	width: 2px;
}

@keyframes animate4{
	0%{
		bottom: -100%;
	}
	50%, 100%{
		bottom: 100%;	
	}
}

/* end */

/* button  #prox*/
#prox{
	color: #FF8250 ;
	display: inline-block;
	font-size: 1rem;
	letter-spacing: 4px;
	margin: 10px 20px;
	padding: 2px 5px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	/* text-transform: uppercase; */
	transition: 0.5s;
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

#prox:nth-child(1){
	filter: hue-rotate(290deg);
}



#prox:hover{
	background: #FF8250 ;
	box-shadow: 0 0 5px #FF8250 , 0 0 25px#FF8250 , 0 0 50px #FF8250 , 0 0 200px #FF8250 ;
	color:aliceblue;
}

#prox span{
	display: block;
	position: absolute;
}

#prox span:nth-child(1){
	animation: animate1 1s linear infinite;
	background: linear-gradient(90deg, transparent, #FF8250 );
	height: 2px;
	left: -100%;
	top: 0;
	width: 100%;
}

@keyframes animate1{
	0%{
		left: -100%;
	}
	50%, 100%{
		left: 100%;	
	}
}

#prox span:nth-child(2){
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s;
	background: linear-gradient(180deg, transparent, #FF8250);
	height: 100%;
	top: -100%;
	right: 0;
	width: 2px;
}

@keyframes animate2{
	0%{
		top: -100%;
	}
	50%, 100%{
		top: 100%;	
	}
}

#prox span:nth-child(3){
	animation: animate3 1s linear infinite;
	animation-delay: 0.5s;
	background: linear-gradient(270deg, transparent, #FF8250);
	bottom: 0;
	height: 2px;
	right: -100%;
	width: 100%;
}

@keyframes animate3{
	0%{
		right: -100%;
	}
	50%, 100%{
		right: 100%;	
	}
}

#prox span:nth-child(4){
	animation: animate4 1s linear infinite;
	animation-delay: 0.75s;
	background: linear-gradient(360deg, transparent, #FF8250);
	bottom: -100%;
	height: 100%;
	left: 0;
	width: 2px;
}

@keyframes animate4{
	0%{
		bottom: -100%;
	}
	50%, 100%{
		bottom: 100%;	
	}
}

.win 
{
  background: rgb(51, 255, 245);
  box-shadow: 0 0 5px rgb(51, 255, 245), 0 0 25px rgb(51, 255, 245),
   0 0 50px rgb(51, 255, 245), 0 0 200px rgb(51, 255, 245);
}


